.category-container
{
    border: 2px solid black;
    box-shadow: inset 7px 9px 15px 7px rgba(244, 243, 241, 0.1),1px 2px 2px rgba(31, 20, 4, 0.1);
    border-radius: 10px;
    padding:5px;
    transition: all 0.5s;
}

.category-container:hover
{
    color: #dd4b39 !important;
    transform: translateY(2px);
}

.category-container:hover .category-name
{
    color: #dd4b39 !important;
}